@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
  box-sizing: border-box;
}

body {
  /* font-family: 'Lato', sans-serif; */
    font-family: 'Comfortaa', cursive;
  /* background-color: #f7f7f8; */
  color: #222;
  overflow-x: hidden;
  margin: 0;
  font-size: 18px;
}
h3{
  font-family: 'Comfortaa', cursive; 
}
.wrapper{
  width:700px;
  margin: auto;
}